table {
  width: 50%;
  border: 1px solid black;
  /* border-collapse: collapse; */
  table-layout: fixed;
  caption-side: bottom;
  empty-cells: hide;
}

td, th{
 border: 1px solid black;
}

img{
width: 50px;
vertical-align: auto;
}