/* [title~="태그"] {
  color: red;
} */

/* [title^="태그"] {
color:  red;
} "태그"로 시작하는 것 싹다*/
/* 
[title$="태그"] {
  color:  red;
  } "태그"로 끝나는 것 싹다 */

  [title*="태그"] {

    color: red;
  }