*{
  margin: 0;
  padding: 0;
}

#container{
  width: 300px;
  height: 200px;
}

.home,.product{
  border: 1px solid gray;
  box-sizing: border-box;
  display: inline;
  background-color: yellow;
  margin: 10px;
}
p{
  margin: 10px;
}
ul{
  margin: 10px;
  list-style: none;
}
ul li {
  line-height: 30px;
  margin-left: -20px;
}

 li::before {
  content: "♥";
  color: black;
  }

  .sale::after{
    content: "sale";
    border: 1px solid red ;
    background-color: red;
    color: white;
  }

  