* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 15px;
  padding: 20px;
}

.card {
  border: 1px solid black;
  height: 320px;
  box-shadow: 1px 1px 5px black;
  padding: 0 20px;
  overflow: hidden;
}

.card-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.card-img {
  height: 60%;
}

.card-con {
  font-size: 14px;

}

.img-1 {
  background: url('img/cup-1.jpg');
  background-size: cover;
}

.img-2 {
  background: url('img/cup-2.jpg');
  background-size: cover;
}

.img-3 {
  background: url('img//cup-3.jpg');
  background-size: cover;
}

.img-4 {
  background: url('img//cup-4.jpg');
  background-size: cover;
}

.img-5 {
  background: url('img/cup-5.jpg');
  background-size: cover;
}

.img-6 {
  background: url('img/cup-6.jpg');
  background-size: cover;
}

.img-7 {
  background: url('img//cup-7.jpg');
  background-size: cover;
}

